.container-navbar {
  background: #2F5367;
  border: 1px solid #2F5367;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 2px rgb(53 51 52 / 16%);
  height: 100px;
  display:flexbox;
  z-index: 9999;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 30px;
  text-align: center;
  color:#ffffff;
}
